@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelLibrary.Models.DTO.Questions.QuestionDto

@{
    ViewData["Title"] = "Edit Question";
}

<h2>Edit Question</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" id="mainEditor" class="form-control"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    @*-------------------------------------------------*@
    <script>
        @*//CkEditor Version 4*@

            CKEDITOR.replace('mainEditor');

        @*//CkEDitor Version 5

            //ClassicEditor.create(document.querySelector('#mainEditor'))
            //    .then(editor => {
            //        console.log(editor);
            //    })
            //    .catch(error => {
            //        console.error(error);
            //    });*@
    </script>
    @*-------------------------------------------------*@

    <div class="form-group">
        <label asp-for="TopicId"></label>
        <select asp-for="TopicId" asp-items="ViewBag.Topics"></select>
        <span asp-validation-for="TopicId"></span>
    </div>
    <div class="form-group">
        <label asp-for="DifficultyLevelId"></label>
        <select asp-for="DifficultyLevelId" asp-items="ViewBag.DifficultyLevels"></select>
        <span asp-validation-for="DifficultyLevelId"></span>
    </div>

    <hr/>
    <h2>Edit Options</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Option</th>
            <th>Text</th>
            <th>Correct</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0, optionNumber = 1; i < Model.Options.Count; i++, optionNumber++)
        {
                var optionEditor = $"optionEditor{i}";
            <tr>
                <td>
                    @optionNumber
                </td>
                <td>
                    <textarea asp-for="Options[i].Text" id="@optionEditor" class="form-control"></textarea>
                    <span asp-validation-for="Options[i].Text"></span>
                        @*-------------------------------------------------*@
                        <script>
                            @*//CkEditor Version 4*@

                            CKEDITOR.replace('@optionEditor');

                                    @*//CkEDitor Version 5

                                    //ClassicEditor.create(document.querySelector('#mainEditor'))
                                    //    .then(editor => {
                                    //        console.log(editor);
                                    //    })
                                    //    .catch(error => {
                                    //        console.error(error);
                                    //    });*@
                        </script>
                        @*-------------------------------------------------*@

                </td>
                <td>
                    <input asp-for="Options[i].Correct" type="checkbox"/>
                    <input type="hidden" asp-for="Options[i].Id"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
