<configuration>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>

	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="clientId" value="ARJnCIsfgnAtVixz7vm7H6prddiZwfZDoIDkoViJLTzpGChXQHidxJ_2stv2ndHBZaJVDdwSYET0THrn" />
			<add name="clientSecret" value="EG8Zj7Olz1FrxKD5_eqq1JShD2fXITv8SFs9oY-QxBDLRNkwYavaUyhcHI5oEep5k5hobvOQC9xtov5i" />
		</settings>
	</paypal>
</configuration>