@model IEnumerable<ModelLibrary.Models.Questions.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Available Answers
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @foreach (var option in item.Options)
                    {
                        @option.Text
                        @*@Html.RadioButtonFor(modelItem => option, option.Correct)*@
                        <input type="hidden" name=@option.Id value=@option.Correct />
                        @Html.RadioButton(option.Text, option.Correct, false)
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Save" />
            </td>
        </tr>
    </tbody>
</table>
